<!DOCTYPE html>
<html>

<head>
    <title>Update Subject</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/departments">Departments</a>
        <a href="/students">Students</a>
        <a href="/professors">Professors</a>
        <a href="/subjects">Subjects</a>
        <a href="/enrollments">Enrollments</a>
    </div>

    <h1>Update Subject</h1>

    <form action="/find_subject" method="POST">

        <label>Subject Code:</label>
        <input type="text" name="sub_code" required>

        <input type="submit" value="Search">

    </form>

    {% if subject %}

    <form action="/update_subject_data" method="POST">

        <input type="hidden" name="sub_code" value="{{ subject[0] }}">

        <p><b>Subject Code:</b> {{ subject[0] }}</p>

        <label>Subject Name:</label>
        <input type="text" name="sub_name" value="{{ subject[1] }}">

        <br><br>

        <label>Credits:</label>
        <input type="number" name="credits" value="{{ subject[2] }}">

        <br><br>

        <label>Semester:</label>
        <input type="number" name="sem" value="{{ subject[3] }}">

        <br><br>

        <input type="submit" value="Update Subject">

    </form>

    {% endif %}

    <footer>
        <hr>
        <p>
            Student Course Registration System |
            DBMS Mini Project |
            BIT Bangalore
        </p>
    </footer>

</body>

</html>